* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --bcolor: #0d6efd;
    --Rcolor: #dc3545;
    --Wcolor: #ffffff;
    --Ocolor: #fd7e14;
    --pcolor: #6f42c1;
    --pkcolor: #d63384;

}

nav {
    background: linear-gradient(to left, var(--pcolor), var(--pkcolor));
}
body{
    background: linear-gradient(to left, var(--pcolor), var(--pkcolor));
    color: var(--Wcolor);
    overflow-x: hidden;
}
.main-heading,
.sub-heading,
.line-heading {
    color: var(--Wcolor);
    text-align: center;
  
}
.main-heading{
     font-size: 1.5rem;
     color: var(--Ocolor);
   
}
.sub-heading{
    font-size: 3rem;
}
.line-heading{
    width: 100px;
    height: 2px;
    background-color: var(--Ocolor);
    margin: 20px auto;
}
.header {
    width: 100%;
    height: 500px;
    position: relative;
}
.services-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.services-card{
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s;
    background-color: rgba(14, 13, 13, 0.5);
    color: var(--Wcolor);
}
.services-card:hover{
    transform: scale(1.02);
}
.plan2{
    position: relative;
    overflow: hidden;
}
.recommended{
    color: #333;
    background-color: var(--Wcolor);
    width: 200px;
    position: absolute;
    top: 25px;
    right: -50px;
    transform: rotate(34deg);
}
.cumcard img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.newcard{
    color: var(--Wcolor);
    height: 200px;
    background-color: rgba(14, 13, 13, 0.5);
}
.newcard img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    
    /* border: red solid 3px; */
}
.newcard1{
    width: 100%;
    height: 700px;
}
.newcard1 img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.header video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    
}

.header .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    background: linear-gradient(to left, var(--pcolor), var(--pkcolor));
    mix-blend-mode: overlay;
    z-index: -1;
    


}
.accordion-button {
    color: var(--Wcolor);
    background-color: rgba(0,0, 0, 0.3);
    border-color: var(--Wcolor);
    border-radius: 5px;
}
.accordion-button:not(.collapsed) {
    color: var(--Wcolor);
    background-color: var(--Ocolor);
    border-color: var(--Wcolor);
}
.tcard {
    background-color: rgba(14, 13, 13, 0.5);
    color: var(--Wcolor);
}
.tcard img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

#contact {
    background: url(img/contectus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 30%;
    opacity: 0.8;
    position: relative;
    
}
/* .inzo {
    position: relative;
    z-index: 1;
} */
#contact .overlay1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, var(--pcolor), var(--pkcolor));
    mix-blend-mode: overlay;
    z-index: -1;
    
}
.up{
    position:fixed;
    bottom: 20px;
    right: 20px;
    
}
.sigin{
    background-color: rgba(142, 141, 244, 0.3);
}
.sigin .card{
    background-color: rgba(0,0, 0, 0.3);
    color: var(--Wcolor);
    border: #fd7e14 solid 2px;
}
